## Both ##

# We want to clone the individual packages into this source directory.
# But we don't want the packages to be uploaded into the uavrt_source repo.
/uavrt_interfaces
/uavrt_supervisor
/uavrt_mavlink_encoder_decoder

/airspyhf_channelize

### macOS ###

# General
.DS_Store
