## Both ##

# We want to clone the custom messages/services repo into uavrt_supervise.
# But we don't want it to be uploaded with the uavrt_supervise repo since it
# has its own.
/uavrt_interfaces

### macOS ###

# General
.DS_Store
